<div class="sulama-wrapper">
  <div class="header">
    <img src="https://cdn-icons-png.flaticon.com/512/2303/2303727.png" alt="Sprout Icon" class="icon">
    <h1>Sulama Durumu Tahminleri</h1>
  </div>

  <table class="sulama-table">
    <thead>
      <tr>
        <th>Tarih - Saat</th>
        <th>Sulama Durumu</th>
        <th>Olasılık (%)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of predictions">
        <td>{{ item.time | date:'dd MMM yyyy, HH:mm' }}</td>
        <td>
          <span [ngClass]="{
            'etiket-kirmizi': item.SulamaDurumu === 'Sulama Gerekli',
            'etiket-yesil': item.SulamaDurumu === 'Sulama Gereksiz'
          }">
            {{ item.SulamaDurumu }}
          </span>
        </td>
        <td>{{ item.Olasilik }}%</td>
      </tr>
    </tbody>
  </table>
</div>
